main {
    &#index {
        width: 100%;
        flex-direction: column;
        hr {
            width: 50%;
            align-self: center;
            border-top: 11px solid var(--marine);
            opacity: 1;
            border-radius: 10px;
            margin: 20px 0;
        }
        section {
            &#top {
                width: 100%;
                position: relative;
                background-size: cover;
                background-repeat: no-repeat;
                background-position-x: 50%;
                background-image: url('../../Assets/Images/PNG/background.png');
                transform: translateY(-20px);
                height: 100vh;
                align-items: flex-end;
            }
            &#about {
                background: #2072a7;
                margin-top: 15px;
                &.me {
                    flex-direction: column;
                    div {
                        &.img {
                            picture {
                                source,
                                img {
                                    width: 100%;
                                    height: 100%;
                                    border-radius: 20px;
                                }
                            }
                            margin: 10px 0;
                        }
                        &.text {
                            flex-direction: column;
                            p {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
            &#portfolio {
                flex-direction: column;
                align-items: center;
                width: 100%;
                padding: 10px;
            }
            &#about {
                flex-direction: column;
                background-color: inherit;
                padding: 10px;
                div {
                    &.me {
                        flex-direction: column;
                        div {
                            &.img {
                                picture {
                                    source,
                                    img {
                                        width: 100%;
                                        height: 100%;
                                        border-radius: 20px;
                                    }
                                }
                                margin: 10px 0;
                            }
                            &.text {
                                flex-direction: column;
                                p {
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }
            }
            
        }
        div {
            &.typing {
                background-color: rgba(255, 255, 255, 0.8);
                width: 100%;
                height: 200px;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                backdrop-filter: blur(5px);
                border-top: 1px solid var(--marine);
                p, strong {
                    margin: 10px 0;
                    font-size: 26px;
                    color: var(--marine);
                }
                p {
                    font-weight: 300;
                }
                strong {
                    text-transform: uppercase;
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        &#index {
            justify-content: flex-start;
            align-items: center;
            align-self: center;
            section {
                &#top {
                    flex-direction: row;
                    align-items: flex-end;
                    justify-content: flex-start;
                    background-image: url('../../Assets/Images/PNG/Background_2x.png');
                    background-size: contain;
                    background-position: right;
                }
                &#about {
                    div {
                        &.me {
                            flex-direction: row;
                            max-width: 1000px;
                            align-self: center;
                            margin: 50px 0;
                            div {
                                &.img {
                                    margin: 0;
                                    margin-right: 50px;
                                    picture {
                                        source,
                                        img {
                                            width: 200px;
                                            height: 200px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            div {
                &.typing {
                    width: initial;
                    border: none;
                    background-color: transparent;
                    backdrop-filter: none;
                    padding: var(--space);
                    height: initial;
                    max-width: 600px;
                    text-align: center;
                    p, strong {
                        font-size: 60px;
                        text-shadow: 0px 0px 5px #ffffffa8;
                    }
                }
            }
        }
    }
}