@font-face {
	font-family: 'Roboto';
	src: local('Roboto Thin'),url('../Fonts/Roboto-Thin.ttf') format('truetype');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto Regular'),url('../Fonts/Roboto-Regular.ttf') format('truetype');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto Medium'),url('../Fonts/Roboto-Medium.ttf') format('truetype');
	font-style: normal;
	font-weight: 600;
	font-display: swap;
}
@font-face {
	font-family: 'Roboto';
	src: local('Roboto Bold'),url('../Fonts/Roboto-Bold.ttf') format('truetype');
	font-style: normal;
	font-weight: bold;
	font-display: swap;
}