:root {

    //Space
    --space: 10px;

    //Colors
    --white: #FFF;
    --dark: #333;
    --green: #43D9AD;
    --blue-1: #02577A;
    --blue-2: #02A9F7;

    --blue-5: #D4F0FC;
    --bg-color: #01303F;
}