@import '../../Assets/Scss/mixin.scss';

main {
    &#ecommerce {
        @include main-pages;
        section {
            @include section;
            article {
                flex-direction: column;
                padding: calc(var(--space) * 2);
            }
            &#resume {
                padding: calc(var(--space) * 2);
                header {
                    flex-direction: column;
                    h1 {
                        text-transform: uppercase;
                        margin: calc(var(--space) * 2) 0;
                        font-weight: 700;
                        justify-content: center;
                    }
                    h2 {
                        text-align: justify;
                    }
                    h3 {
                        justify-content:center;
                    }
                    p {
                        text-align: center;
                        line-height: calc(var(--space) * 3);
                    }
                }
            }
            &#resources {
                article {
                    h2 {
                        text-transform: uppercase;
                        margin: calc(var(--space) * 2) 0;
                    }
                    h3 {
                        font-weight: 600;
                        justify-content: flex-start;
                    }
                    div {
                        &.item {
                            flex-direction: column;
                        }
                    }
                }
                footer {
                    flex-direction: column;
                    justify-content: center;
                    background-color: rgb(128 128 128 / 15%);
                    border-radius: 0 0 10px 10px;
                    padding: 20px;
                    color: #333;
                    p {
                        text-align: center;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                    a {
                        justify-content: center;
                        text-decoration: none;
                    }
                }
            }
            &#resource-table {
                header {
                    flex-direction: column;
                    padding: calc(var(--space) * 2);
                }
                div {
                    flex-direction: column;
                    &.host {
                        width: 100%;
                    }
                }
            }
        }
    }
}

section {
    &#ecommerce, &#hosting {
        header, article {
            flex-direction: column;
            box-shadow: none;
        }

        article {
            &#basic-ecommerce {
                div {
                    &.content {
                        padding: calc(var(--space) * 2);
                        flex-direction: column;

                        border-top: 1px solid var(--marine);
                        padding-top: calc(var(--space) * 2);
                    }
                }
                footer {
                    background-color: rgba(128, 128, 128, 0.1);
                    border-radius: 0 0 10px 10px;
                    padding: 10px;
                    
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        &#ecommerce {
            max-width: 1000px;
            align-self: center;
            margin-top: 20px;
            section {
                &#resume {
                    header {
                        box-shadow: none;
                        background-color: initial
                    }
                }
                &#resources {
                    article {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 40px;
                    }
                }
                &#resource-table {
                    header {
                        box-shadow: none;
                        background-color: initial
                    }
                    div {
                        align-self: center;
                    }
                }
            }
        }
    }
}