main {
    &#ecommerce {
        position: relative;
        z-index: 0;
        flex-direction: column;
        margin-top: 10%;
        width: 100%;
        section {
            margin: 10px;
            flex-direction: column;
            background-color: #FFF;
            border: 1px solid #eee;
            border-radius: var(--space);
            box-shadow: 1px 1px 2px #0000002e;
            article {
                flex-direction: column;
                padding: calc(var(--space) * 2);
            }
            &#resume {
                padding: calc(var(--space) * 2);
                header {
                    flex-direction: column;
                    h1 {
                        text-transform: uppercase;
                        margin: calc(var(--space) * 2) 0;
                        font-weight: 700;
                        justify-content: center;
                    }
                    h2 {
                        text-align: justify;
                    }
                    h3 {
                        justify-content:center;
                    }
                    p {
                        text-align: center;
                        line-height: calc(var(--space) * 3);
                    }
                }
            }
            &#resources {
                article {
                    h2 {
                        text-transform: uppercase;
                        margin: calc(var(--space) * 2) 0;
                    }
                    h3 {
                        font-weight: 600;
                        justify-content: flex-start;
                    }
                    div {
                        &.item {
                            flex-direction: column;
                        }
                    }
                }
                footer {
                    flex-direction: column;
                    justify-content: center;
                    background-color: rgb(128 128 128 / 15%);
                    border-radius: 0 0 10px 10px;
                    padding: 20px;
                    p {
                        text-align: center;
                        font-size: 20px;
                        text-transform: uppercase;
                        font-weight: 400;
                    }
                    a {
                        justify-content: center;
                        text-decoration: none;
                    }
                }
            }
            &#resource-table {
                header {
                    flex-direction: column;
                    padding: calc(var(--space) * 2);
                }
                
            }
        }
    }
}

section {
    &#ecommerce {
        f
        header, article {
            flex-direction: column;
        }

        article {
            &#basic-ecommerce {
                div {
                    &.content {
                        padding: calc(var(--space) * 2);
                        flex-direction: column;

                        border-top: 1px solid var(--marine);
                        padding-top: calc(var(--space) * 2);
                    }
                }
                footer {
                    background-color: rgba(128, 128, 128, 0.1);
                    border-radius: 0 0 10px 10px;
                    padding: 10px;
                    
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        &#ecommerce {
            max-width: 1000px;
            align-self: center;
            margin-top: 20px;
            section {
                &#resume {
                    header {
                        box-shadow: none;
                        background-color: initial
                    }
                }
                &#resources {
                    article {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        grid-gap: 40px;
                    }
                }
                &#resource-table {
                    header {
                        box-shadow: none;
                        background-color: initial
                    }
                    div {
                        align-self: center;
                    }
                }
            }
        }
    }
}