main {
    &#domains {
        flex-direction: column;
        max-width: 768px;
        align-self: center;
        section {
            margin: 10px;
            flex-direction: column;
            background-color: #FFF;
            border: 1px solid #eee;
            border-radius: var(--space);
            box-shadow: 1px 1px 2px #0000002e;
            padding: calc(var(--space) * 2);
            &#domain-search {
                header {
                    text-align: center;
                    padding-bottom: 10px;
                    box-shadow: none;
                    z-index: 0;
                }
                form {
                    flex-direction: column;
                    width: 100%;
                }
            }
            &#results {
                div {
                    &.ext {
                        flex-direction: column;
                        div {
                            &.title {
                                flex-direction: row-reverse;
                                justify-content: space-between;
                                flex-wrap: wrap;
                                p {
                                    align-self: center;
                                    margin: 0;
                                    font-size: 1.5em;
                                    font-weight: 500;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    max-width: 70%;
                                }
                                img {
                                    height: 50px;
                                    width: 50px;
                                }
                            }
                            &.text {
                                text-align: center;
                                padding: 15px;
                                p {
                                    margin: 0;
                                    img {
                                        width: 50px;
                                    }
                                }
                                
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) {
    main {
        &#domains {
            margin-top: 20px;
            section {
                &#results {
                    flex-direction: row;
                    justify-content: space-between;
                    div {
                        &.ext {
                            margin: 20px;
                        }
                    }
                }
            }
        }
    }
}