main {
    &#portfolio {
        flex-direction: column;
        width: 100%;
        margin-top: 50px;
        > p {
            font-size: 1.5rem;
            font-weight: 400;
            margin-bottom: 20px;
            text-align: center;
            padding: 20px;
        }
        section {
            flex-direction: column;
            background-color: #fefefe;
            padding: 20px;
            margin: 20px 0;
            p {
                text-align: center;
            }
            div {
                &.boxes {
                    div {
                        &.box {
                            a {
                                &.link {
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    white-space: nowrap;
                                    width: 100%;
                                }
                                p {
                                    font-size: 30px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
