main {
    &#admin {
        flex-direction: column;
        background-color: #FFF;
        aside {
            position: absolute;
            left: -500px;
            height: 100vh;
            width: 300px;
            background-color: #FFF;
            z-index: 1;
            box-shadow: 4px 0 5px rgb(0 0 0 / 20%);
            top: 0;
            transition: all 0.7s ease;
            padding-top: 100px;
            padding-left: 1em;
            &.open {
                left: 0;
            }
            header {
                justify-content: space-between;
                box-shadow: none;

                h2 {
                    font-size: 1.5rem;
                    font-weight: bold;
                    margin: 0;
                    padding: 0;
                    align-items: center;
                    justify-content: center;
                }

                button {
                    background-color: transparent;
                    border: none;
                    margin: 0;
                    padding: 5px;
                    cursor: pointer;

                    svg {
                        height: 30px;
                        width: 30px;
                        opacity: 0.5;
                    }

                    &:hover {
                        svg {
                            opacity: 1;
                        }
                    }
                }
            }
            ul {
                margin: 0;
                padding: 0;
                flex-direction: column;
                li {
                    margin: 10px 0;
                    a {
                        text-decoration: none;
                    }
                }
            }
        }

        div {
            &.lateral-menu {
                position: fixed;
                top: 100px;
                left: 0px;
                transition: all 0.2s ease;
                &.open {
                    left: -60px;
                }
                button {
                    background-color: #ccc;
                    border: 1px solid #939393;
                    height: 50px;
                    width: 50px;
                    justify-content: center;
                    align-items: center;
                    border-radius: 0 5px 5px 0;
                    transform: translateX(-1px);

                    svg {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}