button {
    &.menu-button {
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 48px;
        height: 48px;
        cursor: pointer;
        background-color: transparent;
    }
}

nav {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    left: -767px;
    width: 90%;
    height: 100vh;
    background-color: #FFFFFF;
    z-index: 1;
    transition: all 0.5s ease-in;
    border-right: 1px solid var(--marine);
    ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
        margin: 0;
        padding-top: 124px;
        a {
            text-decoration: none;
            background-color: var(--marine-2);
            margin: calc(var(--space) * 2);
            border-radius: var(--space) 0;
            text-align: center;
            li {
                list-style: none;
                width: 100%;
                justify-content: center;
                align-items: center;
                padding: var(--space);
                color: #FFF;
                text-transform: uppercase;
                font-size: 20px;
            }
            &.support {
                background-color: var(--aura-1);
                box-shadow: 10px 10px 20px rgba(94, 218, 255, 0.8);
                transition: all 0.2s ease-in;
                &:active {
                    box-shadow: 1px 1px 10px rgba(94, 218, 255, 0.8);
                }
            }
        }
    }
    &.open {
        display: flex;
        left: 0;

    }
    div {
        &.menu-close {
            position: relative;
            z-index: 2;
            width: 100%;
            justify-content: flex-end;
            button {
                background-color: transparent;
                border: none;
                margin: var(--space);
            }
        }
    }
}

div {
    &.overflow {
        position: absolute;
        right: 0;
        width: 100%;
        background-color: rgba(0,0,0,0.8);
        top: 0;
        height: 100vh;
        z-index: -1;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
        opacity: 0;
        transition: opacity 0.5s;
        &.open {
            display: flex;
            opacity: 1;
            z-index: 0;
        }
    }
}

@media (min-width: 768px) {
    div {
        &.overflow {
            display: none;
        }
    }

    nav {
        flex-direction: row;
        width: 100%;
        left: 0;
        position: relative;
        height: inherit;
        transition: none;
        border: none;
        background-color: transparent;
        div {
            &.menu-close {
                display: none;
            }
        }
        ul {
            display: inline-flex;
            flex-direction: inherit;
            padding: 0;
            justify-content: flex-end;
            a {
                background-color: transparent;
                margin: 0 calc(var(--space) * 2);
                border-radius: 0;
                transition: all 0.5s ease;
                li {
                    color: var(--marine);
                    font-size: 1.2vw;
                    font-weight: 600;
                }
                &.support {
                    border-radius: var(--space);
                    margin: 20px;
                    background-color: var(--aura-1);
                    box-shadow: 10px 10px 20px rgba(94, 218, 255, 0.8);
                    transition: all 0.2s ease-in;
                    li {
                        color: #FFF;
                    }
                    &:hover {
                        background-color: var(--aura-1);
                        height: inherit;
                        border-radius: var(--space);
                    }
                }
                &:hover {
                    color: inherit;
                    background: var(--marine);
                    border-radius: 0;
                    height: 100%;
                    padding: 0;
                    li {
                        color: #FFF;
                    }
                }
            }
        }
    }
}