main {
    &#about {
        flex-direction: column;
        padding: 10px;
        margin-top: 50px;
        hr {
            width: 50%;
            align-self: center;
            border: 4px solid #0b2954;
            opacity: inherit;
            border-radius: 10px;
            margin: 30px 0;
        }
        div {
            &.me {
                flex-direction: column;
                div {
                    &.img {
                        picture {
                            source,
                            img {
                                width: 100%;
                                height: 100%;
                                border-radius: 20px;
                            }
                        }
                        margin: 10px 0;
                    }
                    &.text {
                        flex-direction: column;
                        p {
                            font-size: 20px;
                        }
                    }
                }
            }
        }
        section {
            &#certificates {
                flex-direction: column;
                align-self: center;
                max-width: 1200px;
                div {
                    &.certificates {
                        flex-direction: column;
                        padding: 10px;
                        div {
                            &.certificate {
                                flex-direction: column;
                                background-color: #fff;
                                overflow: hidden;
                                border-radius: 10px 10px 0 0;
                                box-shadow: 1px 1px 5px rgb(0 0 0 / 10%);
                                margin: 20px 0;
                                max-width: 500px;
                                align-self: center;
                                div {
                                    &.certificate-image {
                                        border-radius: 10px 10px 0 0;
                                        transition: 0.3s;
                                        picture {
                                            width: 100%;
                                            height: 100%;
                                            cursor: pointer;
                                            source,
                                            img {
                                                width: 100%;
                                                height: 100%;
                                                border-radius: 10px 10px 0 0;
                                            }
                                        }
                                        &:hover {
                                            opacity: 0.8;
                                        }
                                    }
                                    &.certificate-name {
                                        flex-direction: column;
                                        text-align: center;
                                        padding: 10px;
                                        p {
                                            font-size: 20px;
                                            font-weight: bold;
                                            margin: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) {
    main {
        &#about {
            div {
                &.me {
                    flex-direction: row;
                    max-width: 1000px;
                    align-self: center;
                    margin: 50px 0;
                    div {
                        &.img {
                            margin: 0;
                            margin-right: 50px;
                            picture {
                                source,
                                img {
                                    width: 200px;
                                    height: 200px;
                                }
                            }
                        }
                    }
                }
            }
            section {
                &#certificates {
                    div {
                        &.certificates {
                            padding: 10px;
                            display: grid;
                            grid-template-columns: repeat(3, 1fr);
                            grid-gap: 30px;
                            div {
                                &.certificate {
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
