footer {
    flex-direction: column;
    background-color: #3e3e3e;
    color: #FFF;
    padding-bottom: 60px;
    margin-top: 28px;
    div {
        &.goToUp {
            opacity: 0;
            justify-content: center;
            width: 100%;
            position: fixed;
            z-index: -1;
            bottom: 0;
            transition: all 0.5s;
            &.scroll {
                opacity: 1;
                z-index: 1;
            }
        }
        div {
            &.icon {
                border: 1px solid var(--marine);
                padding: 5px;
                background-color: var(--marine-2);
                border-radius: 100%;
                margin: 10px;
                height: 48px;
                width: 48px;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                box-shadow: 1px 1px 5px rgb(0 0 0 / 50%);
                color: #FFF;
            }
        }
    }
    section {
        &#contents {
            flex-direction: column;
            div {
                &.logo {
                    justify-content: center;
                    img {
                        height:60px;
                        width: auto;
                        transform: translateY(-28px);
                    }
                }
                &.links {
                    ul {
                        display: block;
                        width: 100%;
                        padding: 0;
                        margin: 0;
                        li {
                            margin: 10px;
                            align-items: center;
                            height: 48px;
                            a {
                                text-decoration: none;
                                color: #FFF;
                            }
                        }
                    }
                }
            }
        }
        &#final {
            p {
                margin: 10px;
                text-align: center;
            }
        }
    }

}

@media (min-width: 768px) {
    footer {
        flex-direction: row;
        align-items: center;
        section {
            &#contents {
                flex-direction: row;
                flex: 1;
                justify-content: space-around;
                align-items: center;
                div {
                    &.logo {
                        transform: none;
                        img {
                            height: 100%;
                            width: auto;
                            transform: none;
                            max-height: 80px;
                        }
                    }
                }
            }
            &#final {
                flex-direction: column;
                flex: 1;
            }
        }
    }
}