div {
    &.whatsapp {
        position: fixed;
        bottom: 0;
        right: 0;
        margin: 20px;
        a {
            img {
                height: 80px;
                width: 80px;
                border: none;
                outline: none;
            }
        }
    }
}